# --- Работа с NIfTI (МРТ-данные) ---
nibabel>=5.0.0

# --- Обработка изображений ---
Pillow>=10.0.0
opencv-python>=4.8.0

# --- Численные вычисления ---
numpy>=1.24.0
scipy>=1.10.0

# --- Прогресс-бары ---
tqdm>=4.65.0

# --- YAML (для data.yaml) ---
PyYAML>=6.0

# --- YOLOv8 (детекция и сегментация) torch сам подтянется---
ultralytics>=8.0.0

# --- Веб-интерфейс (Streamlit) ---
streamlit>=1.28.0

# --- Работа с датасетом с Hugging Face ---
huggingface_hub>=0.20.0